.ant-table {
  background: transparent;
}

.ant-table-thead > tr > th {
  background: transparent;
}

.ant-table-content {
  background: #323546;
  border-radius: 5px;
}

.ant-table-thead > tr > th {
  border: 0;
  color: white;
}

.ant-table-row {
  &:last-child {
    .ant-table-cell {
      border: 0;
    }
  }
}

.ant-table-tbody > tr > td {
  color: white;
  background-color: transparent;
  border-bottom: 0.51px solid #9ba0b8;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: transparent;
}

.ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  margin: 0 auto;
  min-width: 200px;

  li {
    background: transparent;
    border: 0;
  }

  li:not(:last-child) {
    margin-bottom: 0px;
  }
}

.ant-pagination-item-active {
  a {
    color: #fff;
  }
}

.ant-pagination-disabled {
  .ant-pagination-item-link {
    background: transparent !important;
    color: #9ba0b8;
    border: 0;
  }
}

.ant-pagination::after {
  display: none;
}

.ant-table-pagination-right {
  float: none;
}
