// Dashboard hero
.dash-hero {
  background-color: get-color(primary, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  text-align: center;
  margin-top: 60px;
  color: white;
  @include media(">medium") {
    margin-top: 100px;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  button {
    margin-top: 40px;
    border-radius: 5px;
  }
  &__illustration {
    display: none;
    @include media(">medium") {
      display: inline;
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  height: 100px;
}