// models
.models {
  margin-top: 60px;
  @include media(">medium") {
    margin-top: 80px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    @include media(">medium") {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 0 auto;
      flex-wrap: wrap;
    }

    .model {
      background: white;
      width: 100%;
      border-radius: 5px;
      padding: 21px 23px;
      min-height: 230px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 30px;
      // cursor: pointer;

      @include media(">medium") {
        padding: 41px 53px;
      }

      h6 {
        margin: 0;
      }

      .model__name {
        color: #9ba0b8;
        font-size: 17px;
        margin: 5px 0 30px 0;
      }

      .model__count {
        font-size: 48px;
        color: #000;
        font-weight: bold;
      }

      @include media(">medium") {
        flex: 0 0 46%;
        margin: 0 2% 30px 2%;
      }

      @include media(">large") {
        flex: 0 0 31%;
        margin: 0 1% 30px 1%;
      }
    }
  }
}

.model-table {
  background-color: get-color(dark, 1);
}
