// projects section
.project-heading {
  font-size: 28px;
  color: white;

  @include media(">medium") {
    font-size: 38px;
  }
}

.projects {
  margin-top: 60px;
  @include media(">medium") {
    margin-top: 80px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    @include media(">medium") {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 0 auto;
      flex-wrap: wrap;
    }

    .project {
      background: white;
      width: 100%;
      border-radius: 5px;
      padding: 20px;
      min-height: 190px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 30px;
      // cursor: pointer;
      h6 {
        margin: 0;
      }

      .project__name {
        color: #000000;
      }

      .project__models {
        font-size: 22px;
        color: #000000;
      }

      .project__plan {
        font-size: 12px;
        color: #9ba0b8;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      @include media(">medium") {
        flex: 0 0 46%;
        margin: 0 2% 30px 2%;
      }

      @include media(">large") {
        flex: 0 0 23%;
        margin: 0 1% 30px 1%;
      }

      &.create-new {
        align-items: center;

        .create-new__text {
          margin-top: 10px;
          color: get-color(primary, 1);
        }
      }
    }
  }

  &__empty-state {
    text-align: center;
    .title {
      margin-bottom: 20px;
    }
    .subtitle {
      font-size: 16px;
      color: white;
    }
  }
}
