.signin {
  .section-inner {
    padding-top: $signin--padding-t__mobile;
    padding-bottom: $signin--padding-b__mobile;
  }

  .section-header {
    padding-bottom: $signin-header--padding__mobile;
  }

  .tiles-wrap {
    &.push-left {
      &::after {
        flex-basis: $signin-item--width;
        max-width: $signin-item--width;
      }
    }
  }

  .tiles-item {
    flex-basis: $signin-item--width;
    max-width: $signin-item--width;
  }

  .tiles-item-inner {
    padding-top: $signin-item--inner-padding-v;
    padding-bottom: $signin-item--inner-padding-v;
    padding-left: $signin-item--inner-padding-h;
    padding-right: $signin-item--inner-padding-h;
  }
}

@include media(">medium") {
  .signin {
    .section-inner {
      padding-top: $signin--padding-t__desktop;
      padding-bottom: $signin--padding-b__desktop;
    }

    .section-header {
      padding-bottom: $signin-header--padding__desktop;
    }
  }
}

.signin-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-tab {
  margin-top: 60px;
  padding-left: 0;
}

.selected-tab {
  border-bottom: solid 3px get-color(primary, 1);
}

.tablist {
  padding-bottom: 0;
  border-bottom: 0;
  padding-left: 0;
}

.sectionTitle {
  color: get-color(light, 1);
  font-size: 17px;
  @include media(">medium") {
    margin: 10px;
    margin-bottom: 2vh;
  }
  @include media("<medium") {
    margin-bottom: 10px;
  }
}

.tablabel {
  color: get-color(light, 1);
  font-size: 15px;
}

.tab-border {
  background-color: get-color(light, 2);
  width: 64.5vw;
  height: 1px;
}

// .model {
// 	margin-top: 60px;
//   &__list {
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     @include media(">medium") {
//       display: flex;
//       flex-direction: row;
//       justify-content: flex-start;
// 			margin: 0 auto;
// 			flex-wrap: wrap;
//     }

//     .model {
//       background: white;
//       width: 100%;
//       border-radius: 5px;
//       padding: 20px;
//       min-height: 170px;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: flex-start;
//       margin-bottom: 30px;
//       cursor: pointer;
//       h6 {
//         margin: 0;
//       }

//       .model__name {
// 				font-size: 19px;
//         color: #9ba0b8;
//       }

//       .model__stat {
//         font-size: 40px;
// 				color: #000000;
// 				font-weight: bold;
// 				margin-top: 10px;
//       }

//       @include media(">medium") {
//         flex: 33 33% 25%;
//         margin: 0 1% 30px 1%;
//       }

//       &.create-new {
//         align-items: center;

//         .create-new__text {
//           margin-top: 10px;
//           color: get-color(primary, 1);
//         }
//       }
//     }
//   }

//   &__empty-state {
//     text-align: center;
//     .title {
//       margin-bottom: 20px;
//     }
//     .subtitle {
//       font-size: 16px;
//       color: white;
//     }
//   }
// }

.chart {
  background-color: #323546;;
  border-radius: 5px;
  margin: auto;
  padding-top: 10px;
}

.new-model {
  margin-bottom: 20px;
}

.table {
  margin-top: 50px;
  border-radius: 5px;
}